#mainStage{
    -fx-border-style: none;
}

#mainPane{
    -fx-border-style: none;
}

#welcomePane{
    -fx-background-color: #FFFFFF;
}

#menuPane{
    -fx-background-color: #FFFFFF;
}

#costCenterPane{
    -fx-background-color: #FFFFFF;
}
.titled-pane{
    -fx-text-fill: #5F5F5F;
    -fx-background-color: #5F5F5F;
}

.titled-pane > .title{
    -fx-background-color: #FFFFFF;
    -fx-padding: 0.7em 0.7em 0.7em 0.7em;
}

.titled-pane > .title:hover{
    -fx-background-color: #8FC7FF;
}

.titled-pane:expanded > .title{
    -fx-background-color: #8FC7FF;
}

.label{
    -fx-text-fill: #5F5F5F;
}

.button{
    -fx-background-color: #5F5F5F;
    -fx-text-fill: #FFFFFF;
    -fx-border-width: 0%;
    -fx-border-radius: 5%;
}

.button:hover{
    -fx-background-color: #8FC7FF;
    -fx-text-fill: #FFFFFF;
    -fx-border-color: #FFFFFF;
    -fx-effect: null;
}

.date-picker{
    -fx-text-fill: #5F5F5F;
    -fx-font: 12 verdana;
}

.date-picker-popup > .month-year-pane{
    -fx-background-color: #8FC7FF;
}

.date-picker > .arrow-button{
    -fx-background-color: #8FC7FF;
    -fx-border-color: #5F5F5F;
    -fx-background-radius: 0%;
}
.date-picker > .arrow-button:hover{
    -fx-border-color: #8FC7FF;
}

.date-picker > .arrow-button > .arrow{
    -fx-background-color: #5F5F5F;
}

.date-picker-popup > * > .spinner > .button {
    -fx-background-color: #8FC7FF;
}

.date-picker-popup > .calendar-grid{
    -fx-background-color: #8FC7FF;
}

.date-picker-popup > * > .date-cell{
    -fx-background-color: #5F5F5F;
    -fx-border-color: #FFFFFF;
    -fx-text-fill: #FFFFFF;
}

.date-picker-popup > * > .day-name-cell{
    -fx-background-color: #8FC7FF;
    -fx-border-color: #8FC7FF;
    -fx-text-fill: #5F5F5F;
}

.date-picker-popup > * > .day-cell:focused,
.date-picker-popup > * > .date-cell:hover{
    -fx-background-color: #8FC7FF;
}

.date-picker-popup > * > .today {
    -fx-background-color: #5F5F5F;
    -fx-text-fill: #FFFFFF;
    -fx-border-color: #FFFFFF;
}

.date-picker-popup > * > .previous-month,
.date-picker-popup > * > .next-month{
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #5F5F5F;
}

.choice-box {
    -fx-text-fill: #5F5F5F;
    -fx-font: 12 verdana ;
    -fx-border-color: #5F5F5F;
}

.choice-box:hover,
.choice-box:focused{
    -fx-text-fill: #5F5F5F;
    -fx-font-size: 12px;
    -fx-border-color: #8FC7FF;
}

.choice-box .context-menu{
    -fx-background-color: #FFFFFF;
    -fx-border-color: #5F5F5F;
    -fx-pref-width: 280;
}

.choice-box .menu-item:focused {
    -fx-background-color: #8FC7FF;
}

.text-field {
    -fx-border-color: #5F5F5F;
    -fx-text-fill: #5F5F5F;
    -fx-font: 12 verdana;
}

.text-field:focused,
.text-field:hover{
    -fx-border-color: #8FC7FF;
}

.table-view {
    -fx-border-color: #5F5F5F;
    -fx-text-fill: #5F5F5F;
    -fx-table-header-border-color: #5F5F5F;
    -fx-border-width: 0;
}

.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled:selected,
.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled:hover {
    -fx-background-color: #8FC7FF;
}

.table-cell {
    -fx-border-color: #5F5F5F;
    -fx-text-fill: #5F5F5F;
    -fx-alignment: CENTER;
    -fx-font: 10 verdana;
    -fx-font-weight: bold;
}

.table-view .column-header {
    -fx-border-color: #FFFFFF;
    -fx-background-color: #5F5F5F;
}

.table-view .arrow,
.table-view .show-hide-column-image,
.table-view .column-header .sort-order-dot {
    -fx-background-color: #FFFFFF;
}

.table-view .column-header .label {
    -fx-text-fill: #FFFFFF;
}

.tab-pane .tab-label{
    -fx-font: 16 verdana;
    -fx-text-fill: #5F5F5F;
}

.tab-pane > .tab-header-area > .headers-region > .tab {
    -fx-font: 18 verdana;
    -fx-text-fill: #5F5F5F;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-color: #8FC7FF; 
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected {
    -fx-border-color: #FFFFFF;
    -fx-background-color: #FFFFFF;
    -fx-background-insets: 0 1 1 0, 1 2 1 1, 2 3 1 2;
    -fx-background-radius: 3 3 0 0, 2 2 0 0, 1 1 0 0;
    -fx-font: 18 verdana;
    -fx-text-fill: #5F5F5F;
}
.split-pane:vertical,
.split-pane:vertical > .split-pane-divider {
    -fx-resizable: false;
}